@font-face {
    font-family: 'Anek Odia';
    src: url('AnekOdia-Regular.woff2') format('woff2'),
        url('AnekOdia-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anek Odia';
    src: url('AnekOdia-Medium.woff2') format('woff2'),
        url('AnekOdia-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

