@font-face {
    font-family: 'Anek Odia';
    src: url('AnekOdia-Bold.woff2') format('woff2'),
        url('AnekOdia-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Anek Odia';
    src: url('AnekOdia-SemiBold.woff2') format('woff2'),
        url('AnekOdia-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

